.nav{
    width: 100%;
    position: fixed;
    background-color: white;
}

.container-nav {
    width: 98%;
    display: flex;
    margin: auto;
    padding-top: 5px;
    justify-content: space-between;
}

.nav-image {
    width: 250px;
}






  