.about{
    background-color: black;
    width: 100%;
    padding-bottom: 30px;
}

.aboutfirst{
    width: 95%;
    display: flex;
    padding-top: 50px;
    margin: auto;
}

.yellowtab{
    width: 30%;
    height: fit-content !important;
    margin-right: -18%;
    margin-bottom: -20px;
}

.tabcontainer{
    width: 95%;
    display: flex;
    flex-flow: column;
    padding-left: 20px;
    padding-bottom: 30px;
    background: #EEEA64;
}

.heading{
    padding-top: 30px;
font-family: 'Cabin',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #F7008C;
}

.abouth1{
font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
color: #F7008C;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
width: 80%;
}

.aboutpara{
    font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #202020;
flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;
width: 90%;
}

.aboutbtn{
    background-color: transparent !important;
    border: 1px solid rgb(247, 0, 140) !important;
    padding-left: 25.6px;
    padding-right: 25.6px;
    padding-top: 12.8px;
    padding-bottom: 12.8px;
    border-radius: 19px;
    width: fit-content;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #F7008C;
    margin: auto;
}

.aboutvideo{
    width: 85%;
    display: flex;
    height: 430px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: -40px;
}


.sliderbox{
    width: 99.9%;
    display: flex;
}

.slider{
    margin-left: 40px;
    width: 68%;
}

.slidercover{
    width: 322px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 20px;
    z-index: 99;
}

.slidecontainer{
    width: 95%;
    display: flex;
    flex-flow: column;
    padding-left: 20px;
}

.sliderheading{
    font-family: 'Cabin',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #202020;
padding-top: 15px;
}

.sliderh1{
    font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
color: #202020;
margin-top: 10px;
}

.sliderbtn{
    background-color: black !important;
    border: 1px solid black !important;
    padding-left: 25.6px;
    padding-right: 25.6px;
    padding-top: 12.8px;
    padding-bottom: 12.8px;
    border-radius: 19px;
    width: fit-content;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.slide{
    margin-top: 40px;
}

.slick-slider{
    padding-top: 40px;
    padding-bottom: 20px;
}

/* .sliderin{
    width: 120px !important;
} */

.sliderimg{
    height: 100%;
}

.slick-slide img{
    width: 120px;
    margin: auto;
    height: 50px;
}
/*mobile starts*/

.mobcontainer{
    width: 100%;
    display: flex;
    flex-flow: column;
    padding-bottom: 30px;
}

.mobheading{
    font-family: 'Cabin',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #ffffff;
padding-top: 55px;
padding-left: 20px;
}

.mobh1{
    font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 28px;
padding-left: 20px;
padding-bottom: 10px;
line-height: 33px;
color: #fff;
margin-top: 10px;
}

.mobaboutbtn{
    background-color: white !important;
    border: 1px solid white !important;
    padding-left: 25.6px;
    padding-right: 25.6px;
    padding-top: 12.8px;
    padding-bottom: 12.8px;
    border-radius: 19px;
    width: fit-content;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #202020;
    margin: auto;
}

.mob-container{
    width: 95%;
    margin: auto;
}

/*mobile ends*/