.hire {
  width: 100%;
  background-color: #eeea64;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.hireColor {
  width: 100%;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.largehire {
  width: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
}

.large-hireColor {
  width: 100%;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.largehireabout {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
}

.hireabout {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.title-container {
  width: 95%;
  display: flex;
  margin-right: 0 !important;
  justify-content: flex-start;
}

.desktitle-container {
  width: 82%;
  display: flex;
  margin: auto;
  justify-content: flex-start;
}

.MuiFormLabel-root {
  font-family: "Cabin", sans-serif !important;
  text-transform: uppercase;
}

.firstdesk-title {
  text-align: start;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #202020;
  padding-top: 20px;
  width: 100%;
}

.hire-container {
  width: 82%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.first-box {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.first-box-container {
  width: 95%;
  display: flex;
  flex-flow: column;
}

.first-title {
  text-align: start;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #202020;
  padding-top: 20px;
}

.first-quote {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  margin-top: 15px !important;
}

input[type="text"] {
  text-transform: capitalize;
}

input[type="email"] {
  text-transform: lowercase;
}

.icons {
  width: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.icons-msg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.icons-msgbot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.location-title {
  width: 50%;
  margin-top: 0 !important;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
}

.call-title {
  margin-top: 0 !important;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
}

.mail-title {
  margin-top: 0 !important;
  word-break: break-all;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
}

.follow {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.social {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.second-box {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-left: 40px;
}

.second-box-container {
  width: 98%;
  display: flex;
  flex-flow: column;
}

.second-title {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-transform: none;
  color: #202020;
  padding-top: 10px;
}

.second-quote {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #202020;
  text-transform: capitalize;
  margin-top: 0 !important;
}

.service-title {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-transform: capitalize;
  padding-top: 10px;
  margin-bottom: 0 !important;
  padding-bottom: 10px;
}

.slick-slider {
  width: 99%;
  display: flex;
  margin: auto;
}

/* .slick-track{
    display: block;
    width: 100% !important;
    align-items: center;
} */

.slick-list {
  width: 100%;
}

button.slick-next:before {
  color: black;
  padding-right: 0;
}

button.slick-prev:before {
  color: black;
}

.slideservice {
  padding-top: 10px;
  width: 97%;
  display: flex;
  margin: auto;
}

.careers {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.careers h1 {
  text-align: start;
  white-space: nowrap;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #202020;
  margin-bottom: 15px !important;
}

.careers a:hover {
  color: #4183c4;
}

.careers a {
  white-space: wrap;
  text-align: start;
  word-break: break-all;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: none;
  color: #202020;
  word-break: break-all;
  display: flex;
  align-items: center;
}

.careers a img {
  margin-right: 0;
}

/* .slick-slide{
    padding-top: 15px;
} */

.serviceslide {
  display: inline-flex !important;
  justify-content: center;
}

.slick-list {
  margin: auto;
}

.slick-arrow {
  color: black;
}

/*Form starts*/

.service-form {
  width: 95%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
}

form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 20px;
}

.MuiInput-underline:before {
  border-bottom: 1px solid black !important;
}

.textfield {
  width: 75% !important;
  margin-top: 15px !important;
  padding-bottom: 15px !important;
}

.textfieldmob {
  width: 100% !important;
  margin-top: 15px !important;
  padding-bottom: 15px !important;
}

.formbtn {
  background-color: black !important;
  border: 1px solid black !important;
  padding: 12.8px 25.6px;
  border-radius: 50px;
  width: fit-content;
  cursor: pointer;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-top: 30px;
  margin-bottom: 0;
}

.formbtn:hover {
  background-color: transparent !important;
  border: 1px solid black !important;
  padding-left: 25.6px;
  padding-right: 25.6px;
  padding-top: 12.8px;
  padding-bottom: 12.8px;
  border-radius: 50px;
  width: fit-content;
  cursor: pointer;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-top: 20px;
  margin-bottom: 0;
}

input,
.MuiInputBase-input {
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
  color: #000 !important;
}

.MuiFormLabel-root,
.MuiTypography-colorTextSecondary {
  color: #000 !important;
}

h1 {
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase !important;
  color: #f7008c;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

label + .MuiInput-formControl {
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: black;
}

.footimg img {
  width: 160px !important;
}

/*Form ends*/

/*MObile starts*/

.hire-mobcontainer {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  flex-flow: column nowrap;
}

.first-mobbox {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.formAlign {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.first-box-mobcontainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mobicons {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.icons-mobmsg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.icons-mobmsgbot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-mobbox {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.second-mobbox-container {
  width: 100%;
  display: flex;
  flex-flow: column;
}

/*Mobile ends*/

/**/

.inputslider {
  display: flex;
  width: 75%;
  flex-flow: column;
  align-items: flex-start;
  margin-top: 15px;
  cursor: pointer;
}

@media (max-width: 760px) {
  .inputslider {
    width: 100%;
  }
}

.inputslider p{
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10.3px;
  line-height: 13px;
  margin-bottom: 5px !important;
  text-transform: uppercase;
}

.inputslider h1 {
  width: 100%;
  border-bottom: 1px solid #000;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 2px;
  line-height: 19px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  color: black;
}

.inputslider h1 span{
  padding-right: 5px;
}

.inputslider img:last-child {
  margin-left: 10px;
}
/* 
.inputslider {
  overflow-x: hidden;
} */

/* .inputslide label{
  width: 250px;
} */

.inputslide {
  width: 100%;
  display: block;
  padding: 3px;
  /* margin: 5px 0 !important; */
  text-align: start;
  border-bottom: 1px solid #fff;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.inputslide input:checked:after{
  background-color: initial !important;
  color: initial !important;
}

input[type='checkbox']{
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

input[type='checkbox']:after{
  font-family: "Font Awesome 5 free";
  content: "\f00c";
  font-size: 12px;
  color: white !important;
  font-weight: bold;
  display: none;
}

input[type='checkbox']:hover{
  background-color: transparent;
}

input[type='checkbox']:checked{
  background-color: white;
  color: black;
  /* border: 1px solid black !important; */
}

input[type='checkbox']:checked:after{
  display: block;
  font-family: "Font Awesome 5 free";
  content: "\f00c";
  font-size: 12px;
  color: black !important;
  font-weight: bold;
}

.inputslide:first-child {
  margin-top: -1px !important;
}

.inputslide.after {
  background-color: #202020;
}

.inputslide:last-child {
  margin-bottom: -1px !important;
}

.borderslide {
  width: 65%;
  display: block;
  margin-top: 20px;
  background-color: #202020;
  z-index: 200;
  margin-bottom: 20px;
  position: absolute;
  border: 1px solid #202020;
  height: 200px;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}



.borderslide.open{
  display: block;
}

.borderslide label{
  width: 100%;
}

.borderslideTop{
  width: 65%;
  display: block;
  margin-top: 40px;
  background-color: #202020;
  z-index: 200;
  margin-bottom: 20px;
  position: absolute;
  border: 1px solid #202020;
  height: 200px;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.borderslideTop.open{
  display: none;
}

.borderslideTop label{
  width: 100%;
}

@media(max-width:780px){
  .borderslide{
    width: 71.5%;
  }
  .borderslideTop{
    width: 71.5%;
  }
}

@media (max-width: 760px) {
  .borderslide {
    width: 95%;
  }
  .borderslideTop{
    width: 95%;
  }
}

.noneslide {
  display: none;
  padding: 0 !important;
}

.inputslide.after {
  background-color: #202020 !important;
  color: white;
}

/* 
.inputslide::-webkit-scrollbar {
  display: none;
} */

.insideslide {
  display: block !important;
  justify-content: center !important;
  width: 100%;
  margin: 25px 0;
  outline: none !important;
}

a {
  text-decoration: none !important;
}

.mobimage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobimage img {
  width: 160px;
}

/**/

/* slider btns*/
/* 
.serviceslider-btn {
  background-color: transparent !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  width: 95%;
  border-radius: 50px;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #202020;
  margin-bottom: 3px !important;
  margin-top: 0;
  border: 1px solid #202020 !important;
} */

.serviceslide-btn {
  background-color: transparent !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-transform: uppercase;
}

/* .serviceslide-btn.after {
  background-color: transparent !important;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: green;
  text-transform: uppercase;
} */
/* 
.serviceslider-btn.after {
  background-color: black !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  width: 95%;
  border-radius: 50px;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3px !important;
  margin-top: 0;
  outline: none !important;
  border: 1px solid #202020 !important;
} */

.slick-prev,
.slick-next {
  height: 30px !important;
  width: 30px !important;
}

.deskfoot {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.footimg {
  display: flex;
  justify-content: center;
}

.footimg img {
  width: 60%;
}

/*slider btn ends*/
